
*{
    margin:0;
    font-family : lato, sans-serif;
}
 .navbar{
     position:fixed;
     width:100%;
     display:flex;
     flex-wrap:wrap;
     justify-content:flex-end;
     background-color:rgb(212, 106, 106);
     color:rgb(32, 0, 0);
     

 }
 .nav-link{
     display:inline-block;
     padding:15px 25px;
     text-decoration:none;
     color:rgb(51, 1, 1);
 }
 @media (max-width:340px){
     .navbar{
         flex-direction:column;
         align-items:center;
         z-index:1;
     }
     .welcome-section{
         position:relative;
         height:20vh;
         top:147.6px;
     }
     .projects{
         position:relative;
         top:147.6px;
     }
     .link-icons{
        position:relative;
        top:147.6px;
     }

 }




.welcome-section{
    display:flex;
    height:100vh;
    width:100%;
    margin:auto;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgb(0, 51, 51);
    color:rgb(102, 153, 153)
}







.projects{
    text-align:center;
    background-color:rgb(136, 204, 136);
    color: rgb(2, 56, 2);
    width:100%;
    min-height:100vh;
}

.projects h2{
    padding:49.2px 0px 39.2px 0px;
    
}

.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}


.project-tile img{
    width:285px;
    height:200px;
    margin:3px 0px;
    border-radius: 7px;
}

@media (min-width:470px){
    .project-tile img{
        width:450px;
        height:300px;
        margin:10px;
    }
}
@media(min-width: 1200px){
    .wrapper{
        width:80%;
        margin:auto;
    }
}









.link-icons{
    padding:10px 0px;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    background-color:rgb(85, 39, 0);
    font-size:44px;
    
}

.link-icons p{
    margin:0px 10px;
    color:rgb(255, 209, 170);
}
.link-icons p:first-child{
    font-size:20px;
    align-self:center;
    
    
}
.link-icons a:link{
    color:rgb(255, 209, 170);


}
.link-icons a:visited{
    color:rgb(255, 209, 170);
}